.main-header-top {
    position: relative;
    max-height: 50px;
}

h4 {
    cursor: pointer;
    text-align: center;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .content-wrapper {
        margin-left: 50px;
    }
}

@media (max-width: 767px) {
    .fixed .content-wrapper {
        margin-top: 100px;
    }
}

@media (min-width: 768px) {
    .sidebar-collapse .content-wrapper {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .content-wrapper {
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .content-wrapper {
        padding: 0;
    }
}