@model List<Project_OnlineQuiz.Models.TeachingSubject>

@{
    ViewBag.Title = "Danh sách môn học";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<h2>Danh sách môn học</h2>
<table class="table tab-content table-hover">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
        </tr>
        <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
        </tr>
        <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
        </tr>
    </tbody>
</table>
@for (int i = 1; i <= Model.Count(); i++)
{
    var tmp = "<div class='col-lg-3 col-xl-2 col-md-4 col-sm-6 col-xs-12'>";
    tmp += "<div class='card'>";
    tmp += "<h5>" +Model[i-1].CodeSubject +" "+Model[i-1].CodeTeacher+"</h5>";
    tmp += "</div>";
    tmp += "</div>";
    @Html.Raw(tmp)
}


