@model IEnumerable<ModelDAO.EF.Chapter>

@{
    ViewBag.Title = "Ngân hàng câu hỏi, đề thi";
    ViewBag.Current = "QAndEBankTeacher";
    Layout = "~/Areas/Teacher/Views/Shared/_LayoutTeacher.cshtml";
}

<h5>Ngân hàng câu hỏi, đề thi</h5>

<ol class="breadcrumb breadcrumb-title">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index", "QAndEBankTeacher")">Môn học giảng dạy</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Câu hỏi, đề thi môn học</a>
    </li>
</ol>

@foreach (var item in Model)
{
    <h1>@item.Name</h1>
    @Html.Action("_QuestionsOfChapter", "QAndEBankTeacher", new { codeChapter = item.CodeChapter })
}
